body {
  background-color: #222;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2em;
  font-weight: 100;
}









.radio > input {
  -webkit-appearance: none; /* remove default */
  display: block;
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  background-color: hsla(0,0%,0%,.2);
  background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}
.radio > input:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
.radio > input:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.radio > input,
.radio > input:active {
  background-position: 0 24px;
}
.radio > input:checked {
  background-position: 0 0;
}
.radio > input:checked ~ input,
.radio > input:checked ~ input:active {
  background-position: 0 -24px;
}










input[type="text"]{
  outline: none;
  border: none;
  font-size: 0.8em;
  padding: 7px 15px;
  margin-left: 5px;
  border-radius: 12px;
  vertical-align: 3px;
  background-color: #333;
  color: #fff;
}
.boxShadow {
  box-shadow: 0 0 11px 0px #7cff70 !important;
}
.movieDiv input {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  border-radius: 8px;
  padding: 10px 20px;
  min-width: 84%;
}
.movieDiv > div.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.movieDiv button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.4em;
  margin: 4px;
}

.movieDiv button.add {
  color: #222;
  background-color: #62bf79;
}
.movieDiv button.close {
  background-color: #444;
}

.movieDiv > .btns > button.close:hover {
  color: #222;
  background-color: #888;
}
.movieDiv > .btns > button.add:hover {
  color: #111;
  background-color: #48a25e;
}

.movieDiv button.showMoreBtn {
  background-color: #333;
  color: #ddd;
}
.movieDiv button.showMoreBtn:hover {
  background-color: #444;
  color: #aaa;
}

.showMoreDiv {
  display: inline-block;
  color: green;
}

/* Movie Holder Wrapper */
#movieWrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  background-color: #333;
}

#movieHolder {
  display: flex;
  padding: 0px 10px 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 3px;
}

/* TopBar */
.topbar {
  background-color: #333;
  display: none;
  justify-content: center;
  padding-top: 15px;
}
.topbar > p {
  margin: 10px;
  padding: 10px 25px;
  border-radius: 6px;
  display: inline-block;
  background-color: #222;
}
.topbar > #moviesPerPage {
  min-width: 94px;
}

#sort > span, #moviesPerPage > span, #sync > * {
  vertical-align: -4px;
}
#sort > *, #moviesPerPage > *{
  vertical-align: -6px;
}

#sync:hover {
  cursor: pointer;
  color: #eef0a4;
}

.sortItem {
  cursor: pointer;
  color: #aaa;
  margin-left: 6px;
  text-shadow: 2px 3px 2px #333;
}

/* botbar */
.botbar {
  display: flex;
  justify-content: center;
}
.botbar > span {
  font-size: 1.8em;
}

.botbar > .arrow {
  margin: 5px 20px;
  color: #ddd;
}
.botbar > .arrow:hover {
  color: #777;
  cursor: pointer;
}
.botbar > span.pageNumbers {
  vertical-align: 10px;
  color: #eee;
  margin: 13px 5px;
}
.botbar > span > ul.pageNumbers {
  margin: 0;
  padding: 0;
  color: #eee;
  list-style: none;
}
.botbar li {
  display: inline-block;
  vertical-align: -15px;
  margin: 7px;
  cursor: pointer;
  min-width: 24px;
}

.botbar > span > ul > li.current{
  color:#f5f769;
  font-size: 1.3em;
}

/* Movie Posters */
.movieDiv {
  padding: 20px 35px;
  color: #fff;
  margin: 15px 10px;
  background-color: #222;
  max-width: 250px;
  border-radius: 5px;
  box-shadow: -4px 4px 0px 2px #414141;
}

.movieDiv > img, .movieDiv .imagePlaceHolder {
    width: 250px;
    min-width: 250px;
    min-height: 227px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #333;
    text-align: center;
}
.imagePlaceHolder > span {
  font-size: 1.3em;
  margin: 15px 0;
  width: 100%;
  display: inline-block;
  pointer-events: none;
}
.addFileDiv {
  width: 100%;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  background-color: #444;
  color: #999;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.addFileDiv > span > span {
  vertical-align: 6px;
}
.imagePlaceHolder:hover {
  background-color: #555;
}
.addImageBtn:hover {
  color: #62bf79;
  cursor:pointer;
}

/* Add Movie Button Poster */
#addmovie {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 532px;
  color: #444;

}
#addmovie:hover {
  color: #666;
  cursor: pointer;
}
#addmovieBtn:hover {
  color: #777;
}
